@import url("../../colors.css");

.shopping-cart-container {
	/* background-color: #f7f7f7; */
	background-color: var(--bd-color);
	/* border: 0.15rem solid;
	border-color: var(--nv-lnk-color-2); */
	padding-top: 1.88rem;
	border-radius: 0.5rem;
	margin-top: 95px;
}

.shopping-cart p {
	margin: 0;
	color: var(--bd-color);
}

.container-item-component {
	/* background-color: #007bff; */
	padding: 0.3rem;
	max-height: 18.75rem; /* Establece una altura máxima para el scroll */
	overflow-y: auto; /* Permite el scroll vertical */
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 1.8rem;
	height: 2.5rem;
}

.header-title {
	font-weight: bold;
	color: var(--nv-lnk-color);
	font-size: 1.9em;
}

.header-subtitle {
	color: var(--nv-lnk-color);
	font-size: 1.3rem;
}

.cart-header {
	color: #007bff;
	font-weight: bold;
	margin-bottom: 0.63rem;
}

.cart-header .cart-header-text {
	color: #000;
	font-size: 1rem;
}

.blackColor {
	color: #000;
}

.order-summary .card {
	box-shadow: 0 0 0.63rem rgba(0, 0, 0, 0.1);
}

.order-summary h2 {
	font-weight: bold;
	color: var(--bd-color);
}

.apply-button {
	margin-top: 0.63rem;
	width: 100%;
}

.checkout-button {
	width: 100%;
	margin-top: 1.25rem;
}

.continue-shopping {
	display: block;
	margin-top: 1.25rem;
	color: #007bff;
	text-decoration: none;
}

.continue-shopping:hover {
	text-decoration: none;
}

.VaciarCarrito {
	margin: 10px;
}

.VaciarCarrito:hover {
	text-decoration: none;
}
