@import url("../../../colors.css");

/* .navbar { */
/* border-bottom: .13rem solid var(--caffe-color); */
/* border-bottom: .13rem solid rgba(255,255,255,.3); */
/* border: 2px solid #6f4e37; */
/* } */

/* TODO PONER COLOR EN BOTON AL ACHICARSE LA PANTALLA */
.navBar_class {
	padding: 0.94rem 1.1rem !important;
	/* z-index: 10000; */
	top: 0;
	position: fixed;
	background-color: var(--bd-color_2);
	box-shadow: 0 0 0.88rem rgba(0, 0, 0, 0.3);
	width: 100%;
	transition: opacity 0.3s ease;
}

.navBar_class.scrolled {
	opacity: 0.85;
}

.logo {
	font-weight: 900;
	color: var(--logo-color) !important;
}

/* .custom-toggler {
	border-color: #fff;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} */

.nav-item {
	margin: 0 0.63rem;
}

.navbar .nav-item .nav-link {
	text-decoration: none;
	color: var(--nv-lnk-color);
	font-size: 0.92rem;
	font-weight: 500;
	position: relative;
}

.navbar .nav-item .nav-link:hover {
	color: var(--nv-lnk-color-2) !important;
}

.nav-link::after {
	content: "";
	position: absolute;
	bottom: -0.09rem;
	left: 0rem;
	background-color: var(--nv-lnk-color-2);
	width: 0%;
	height: 0.19rem;
	transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after {
	width: 100%;
}

/* 
.active{
    color: rebeccapurple !important;    
    font-weight: 600 !important;
} */

.unDropDown .dropdown-toggle::after {
	display: inline-block;
	background-color: transparent;
	margin-left: 0.5rem; /* Adjust spacing as needed */
	vertical-align: middle; /* Aligns the arrow with the text */
	position: relative;
	top: 0; /* Adjust this if necessary */
}
