.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.spinner {
	position: relative;
	width: 140px;
	height: 140px;
	animation: rotate-spinner 2s linear infinite;
}

.dot {
	width: 20px;
	height: 20px;
	background-color: rgb(255, 129, 57);
	border-radius: 50%;
	position: absolute;
}

.dot1 {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.dot2 {
	top: 15%;
	left: 85%;
	transform: translate(-50%, -50%);
}

.dot3 {
	top: 50%;
	left: 100%;
	transform: translateY(-50%) translateX(-100%);
}

.dot4 {
	top: 85%;
	left: 85%;
	transform: translate(-50%, -50%);
}

.dot5 {
	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
}

.dot6 {
	top: 85%;
	left: 15%;
	transform: translate(-50%, -50%);
}

.dot7 {
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
}

.dot8 {
	top: 15%;
	left: 15%;
	transform: translate(-50%, -50%);
}

.dot9 {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Rotación infinita */
@keyframes rotate-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
